
<br>
<div >
<div class="row">
    <div class="container">
    	<h5 class="miga_P">boton/categoria/producto555</h5>
    </div>
</div>
<br>	
<div class="row">
	<div class="container">
	    <div class="col-md-6">
        	<div class="row">
	    		<strong>{{producto.nombre}}</strong>    	
            </div>
            <div class="row">
	    		<h3>CARACTERISTICAS</h3>    	
                <ul>
                    <li>{{producto.caracteristica_1}}</li>
                    <li>{{producto.caracteristica_2}}</li>
                    <li>{{producto.caracteristica_3}}</li>
               </ul>
            </div>
        </div>
    	<div class="col-md-6 ">
        	<img class="pull-right img-responsive" src="http://www.electroventas.cl/public/productos/productos/{{producto.imagen}}" alt="" >
        </div>
    	
  </div>
</div>
</div>