 <link data-require="bootstrap-css@2.3.2" data-semver="2.3.2" rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" />
<div class="row" ng-controller="busquedaController">
    <div class="row" >
    	<div class=" col-md-3" >
        	<div class="container" >
            	<h5 >Resultados de la Busqueda : {{ palabra}} (<strong>{{productosBuscador.length}}</strong>) </h5>                
            </div>
        </div>
        <div  class="pull-right col-md-3" >
      		 <label for=""> Filtrar Productos:</label><input type="text" ng-model="buscarNivel1" class="form-control">
        </div>
    </div>
    <div class="container">
    	<div id="filtros" >
            <div class="col-md-3">
                <div class="row">
                    <div class="container">                        
                       <h4 class="bx-titulo">Filtros </h4>
                        <ul>
                            <li ng-repeat="fam in familias"><a href="#/nivel2/{{fam.id_familia_2}}">{{fam.nombre}}</a></li>
                           
                        </ul>
                    </div>
                </div>
             </div>
        </div>
         <div class="col-md-9">
        				       	
                <div class="col-md-3 bx-product table-bordered" ng-repeat="prod in filteredProductosBuscador | filter : buscarNivel1" height="100px">
                        <a href="#/ficha/{{prod.seoslug}}"> 
                            <img src="http://www.electroventas.cl/public/productos/productos/{{prod.imagen}}" alt="" width="100">
                           <h5>{{prod.nombre}}</h5>  
                            <p>ID del producto: {{prod.codigo}}</p>
                        </a>
                </div>
                
                <div data-pagination="" data-num-pages="numPages" 
      data-current-page="currentPage" data-max-size="maxSize"  
      data-boundary-links="true"></div> 
        </div>
       
    </div>
</div>
<br>
