 <link data-require="bootstrap-css@2.3.2" data-semver="2.3.2" rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" />
<div class="row" ng-controller="busquedaController">
    <div class="container">
    	<div id="filtros" >
            <div class="col-md-3">
                <div class="row">
                    <div class="container">
                        <h4 class="bx-titulo">Filtros</h4>
                        <ul>
                            <h1>{{busqueda}}</h1>
                           
                        </ul>
                    </div>
                </div>
             </div>
        </div>
       
    </div>
</div>
<br>
