<div class="row bg-negro">
	<div class="container">
    	<div class="col-lg-4 col-md-4 col-sm-6 ">
        	<ul>
                <li>Quienes Somos</li>
                <li>mision y vision</li>
                <li>Terminos legales</li>
                <li><a href="#/contacto/">Contactenos</a></li>
                <li><a href="#/distribuidor">Se Distribuidor</a></li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 ">
        	<ul>
                <li>Quienes Somos</li>
                <li>mision y vision</li>
                <li>Terminos legales</li>
                <li>Contactenos</li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 ">
        	<ul>
                <li>Quienes Somos</li>
                <li>mision y vision</li>
                <li>Terminos legales</li>
                <li>Contactenos</li>
            </ul>
        </div>
    </div>
</div>
<footer class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>Copyright © Dinon.cl</p>
      </div>
    </div>
  </div>
</footer>