
<div class="row">
	<div class="container">
      <div class="col-lg-4 col-md-4 table-bordered" ng-repeat="prod in productos | filter :buscar  ">
        <div class="media">
          <div class="media-left"> <a href="#"> <img class="media-object" width="180" src="../public/images/soporte.png" alt="..."> </a> </div>
          <div class="media-body">
            <h4 class="media-heading">{{prod.codigo}}</h4>
            Cras sit amet nibh libero, in gravida nulla. </div>
        </div>
      </div>
    </div>
</div> 
<br>




